	background-color: rgb(200,200,200);
body{
	font-size: 20px;
	margin: 0;
	padding: 0;
	height: 100%;
}



#navigation ul{
	list-style: none;
}
#menu li
{
	font-size: 20px;
	display: inline;
	padding:1px;
}